<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./static/change-provider.index.css">
    <title>Change provider | view change request</title>
</head>
<body>
    <h3 class="heading">Requested Change</h3>
    <section class="container">
        <div style="position: relative;" class="request-card">
            <div class="requester-details">
                <a >username</a>
                <span>+255677747688</span>
            </div>
            <div class="price">
                <h3>600,000 TZS</h3>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>5000</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>2000</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>500</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>200</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary">Provide Change</button>
        </div>
        <div  style="position: relative;" class="request-card">
            <div class="requester-details">
                <a >username</a>
                <span>+255677747688</span>
            </div>
            <div class="price">
                <h3>600,000 TZS</h3>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>5000</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>2000</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>500</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>200</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary">Provide Change</button>
        </div>
        <div style="position: relative;" class="request-card">
            <div class="requester-details">
                <a >username</a>
                <span>+255677747688</span>
            </div>
            <div class="price">
                <h3>600,000 TZS</h3>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>5000</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>2000</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>500</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>200</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary">Provide Change</button>
        </div>
        <div  style="position: relative;" class="request-card">
            <div class="requester-details">
                <a >username</a>
                <span>+255677747688</span>
            </div>
            <div class="price">
                <h3>600,000 TZS</h3>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>5000</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>2000</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>500</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>200</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td class="amount-times">x  <input type="text" name="multiplier" /></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary">Provide Change</button>
        </div>
    </section>
</body>
</html>