<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./static/index.css">
    <title>Money Change App</title>
</head>
<body>
<section class="container">
    <div class="row">
        <div class="col-lg-9" style="border: 1px solid black">
            <form action="">
                <input type="number" placeholder="Enter amount of money to request for change...">
                <table class="table-responsive">
                    <tr>
                        <td>5000</td>
                        <td>x2</td>
                    </tr>
                    <tr>
                        <td>2000</td>
                        <td>x4</td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>x5</td>
                    </tr>
                    <tr>
                        <td>500</td>
                        <td>x3</td>
                    </tr>
                    <tr>
                        <td>200</td>
                        <td>x3</td>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td>x5</td>
                    </tr>
                </table>
                <button>Request Change</button>
            </form>
        </div>
        <div class="col-lg-3" style="border: 1px solid black">
            <button class="activ">Register</button>
            <button>Login</button>
            <form action="">
                <input type="text" placeholder="username">
                <input type="password" placeholder="password">
                <button>Register</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>
