<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ChangeApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div class="header">
    <h1>Change App Logo</h1>
  </div>
  <div class="middle">
    <form class="" action="index.html" method="post">
      <ul>
        <li>Username:  <input type="text" name="" value=""></li>
        <li>Password:  <input type="text" name="" value=""></li>
      </ul>


      <button type="submit" name="button" class="btn btn-lg btn-outline-secondary">Login</button>
    </form>
    <a href="#">Register as a Provider</a>
    <a href="#">Register as a Client</a>
  </div>

  <div class="footer">
    <p>Change App 2020</p>
  </div>

</body>

</html>
